.logo {
  width: 6rem;
  height: 2rem;
}

.icon-menubar {
  width: 2rem;
  height: 2rem;
}

.container-button {
  display: none;
}

@media (min-width: 60rem) {
  .hidden-item-menu {
    display: none;
  }

  .container-button {
    display: inline;
  }
}
