<app-menu-bar />
<section class="container-padding first-section">
  <div class="grid">
    <div class="col-12 lg:col-6">
      <div class="col-12 md:col-8 mb-4">
        <div
          class="sale-container border-round-3xl p-2 flex align-items-center gap-2"
        >
          <div
            class="col-3 sale-new-container border-round-2xl flex align-items-center justify-content-center p-2 font-bold"
          >
            New!
          </div>
          <span class="font-bold">Refer a friend & Get 25%</span>
          <img
            class="arrow-right-icon"
            src="icons/arrow-right.png"
            aria-label="Arrow right"
          />
        </div>
      </div>
      <div class="col-12 md:col-10 mb-3 title">
        <span class="font-bold"
          >Spend Your <span class="title-purple">Money in Style</span> with a
          Customized Card</span
        >
      </div>
      <div class="col-12 md:col-10 mb-5 title">
        <span class="subtitle"
          >Use your digital card for online purchases, in-store purchases, and
          more.</span
        >
      </div>
      <div
        class="col-12 md:col-8 mb-6 flex align-items-center justify-content-start"
      >
        <img
          class="store-image mr-2"
          src="images/apple-store.png"
          aria-label="Apple Store"
        />
        <img
          class="store-image"
          src="images/google-store.png"
          aria-label="Google Store"
        />
      </div>
    </div>
    <div class="col-12 lg:col-6">
      <div class="mb-6 flex align-items-center justify-content-center">
        <img
          class="card-advertisement-image"
          src="images/card-advertisement.png"
          aria-label="Card Advertisement"
        />
      </div>
    </div>
    <div class="col-12 text-center mb-3">
      <span class="customers-text">Trusted by 3000+ partners & customers</span>
    </div>
    <div class="col-4 md:col-3 text-center mb-3">
      <img
        class="customers-logo-image"
        src="images/stripe-logo.png"
        aria-label="Stripe Logo"
      />
    </div>
    <div class="col-4 md:col-2 text-center mb-3">
      <img
        class="customers-logo-image"
        src="images/orfium-logo.png"
        aria-label="Orfium Logo"
      />
    </div>
    <div class="col-4 md:col-2 text-center mb-3">
      <img
        class="customers-logo-image"
        src="images/kinsta-logo.png"
        aria-label="Kinsta Logo"
      />
    </div>
    <div class="col-6 md:col-2 text-center mb-3">
      <img
        class="customers-logo-image"
        src="images/nowports-logo.png"
        aria-label="Nowports Logo"
      />
    </div>
    <div class="col-6 md:col-3 text-center mb-3">
      <img
        class="customers-logo-image"
        src="images/bankable-logo.png"
        aria-label="Bankable Logo"
      />
    </div>
  </div>
</section>
