@use "../../../styles.scss" as theme;

.container-padding {
  padding: 3.2rem 2rem;
}

.first-section {
  background: theme.$primary-background-color;
}

.sale-container {
  color: theme.$secondary-color-font;
  background: theme.$secondary-background-color;
}

.sale-new-container {
  background: theme.$primary-background-color;
}

.arrow-right-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.title {
  font-size: 2rem;

  .title-purple {
    color: theme.$secondary-color-font;
  }

  .subtitle {
    color: theme.$third-color-font;
    font-size: 1.3rem;
  }
}

.store-image {
  max-width: 16rem;
  max-height: 3rem;
}

.card-advertisement-image {
  max-width: 20rem;
  max-height: 20rem;
}

@media (min-width: 27.81rem) {
  .card-advertisement-image {
    max-width: 25rem;
    max-height: 25rem;
  }
}

@media (min-width: 31.25rem) {
  .card-advertisement-image {
    max-width: 30rem;
    max-height: 30rem;
  }
}

@media (min-width: 48rem) {
  .card-advertisement-image {
    max-width: 40rem;
    max-height: 40rem;
  }
}

.customers-text {
  color: theme.$third-color-font;
}

.customers-logo-image {
  max-width: 8rem;
  max-height: 2rem;
}
